:root {
  --accent-color: #2d4a22;
  --primary-color: #49aa26;
  --white: #fff;
  --black: #000;
  --page-background-color: #f4f4f4;
  --font-color: #363f5f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  line-height: 1.6;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--page-background-color);
}

header {
  min-height: 7.5rem;
  background-color: var(--accent-color);
  padding-top: 1.75rem;
  text-align: center;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.balance {
  margin: -3rem 1.375rem 2rem 1.375rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.card {
  font-size: 1.875rem;
  border-radius: 8px;
  background-color: var(--white);
  color: var(--font-color);
  padding: 1.25rem;
}

.card .headline {
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card.primary-bg {
  background-color: var(--primary-color);
  color: var(--white);
}

.text-button {
  cursor: pointer;
  background-color: transparent;
  font-weight: 300;
  font-size: 0.75rem;
  border: none;
}

.text-button.primary-color {
  color: var(--primary-color);
}

.text-button:hover {
  text-decoration: underline;
}
